/*более читабельный текст*/

/*фон*/
 body {
    background: #33bbf1;
    background: linear-gradient(-42deg, #5c821a 50%, #c6d166 90%);
    background-size: 50px 50px;
   }

/* кнопка жёлтая */
.button-1 {
    color: #232323;
    background: transparent;
    border: 1px solid #232323;
    position: relative;
    font-size: 20px;
    letter-spacing: .3em;
    font-family: 'Comfortaa', cursive;
    padding: 17px 34px 17px 39px;
    transition: .2s ease-in-out;
    cursor: pointer;
}
.button-1:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    width: 100%;
    height: 100%;
    background: #c6d166;
    z-index: -1;
    transition: .25s ease;
    transform: translate(0, 0);
}
.button-1:hover:before {
    transform: translate(4px, 4px);
}
/*кнопка вырвиглазная*/
.double-btn {
   position: relative;
   display: inline-block;
   padding: 10px 30px;
   margin-right: 20px;
   text-decoration: none;
   font-family: 'Comfortaa', cursive;
   font-size: 20px;
   line-height: 1;
   letter-spacing: 3px;
   color: #0f1b07;
  /* text-shadow: -2px -1px #5c821a; */
   background: #c6d166;
   transition: .3s;
}
.double-btn:hover {
   text-shadow: none;
}
.double-btn:after {
   content: "";
   position: absolute;
   height: 105%;
   width: 105%;
   z-index: -1;
   left: -4px;
   top: -1px;
   background: #282623;
   transform: skewY(2deg);
   transition: .3s;
}
.double-btn:hover:after {
   transform: none;
   width: 100%;
   height: 100%;
   left: 0;
   top: 0;
}
/*таблица*/
table {
    background: #ffffff;
    border-spacing: 0 10px;
    font-family: 'Open Sans', sans-serif;
}
th {
    padding: 10px 20px;
    background: #c6d166;
    color: #0f1b07;
    border-right: 2px solid;
    font-size: 0.9em;
}
th:first-child {
    text-align: left;
}
th:last-child {
    border-right: none;
}
td {
    vertical-align: middle;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    border-top: 2px solid #0f1b07;
    border-bottom: 2px solid #0f1b07;
    border-right: 2px solid #0f1b07;
}
td:first-child {
    border-left: 2px solid #0f1b07;
    border-right: none;
}
td:nth-child(2){
    text-align: left;
}
